


[data-is='text-cursor'] {
    display: inline-block;
    margin: 0 .1em;

    min-height: 1.2em;
    min-width: 0.07em;
    vertical-align: text-bottom;
    background-color: black;

    animation-name: BLINK_FLASH;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.text-box {
    white-space: pre;
}


@keyframes BLINK_FLASH {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}